body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f9;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
}

h1, h2 {
    color: #333;
}

input:not([type='checkbox']), textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #10e07f;
    color: rgb(255, 255, 255);
    border: 0;
    cursor: pointer;
}
#r{
    background-color: #f52727;
}

button:hover {
    background-color: #037737;
}

.preview {
    width: 80%;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.preview h1 {
    text-align: center;
}

.preview div {
    margin-bottom: 15px;
}

.preview p {
    margin: 0;
}

.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .left {
    left: 0;
  }
  
  .right {
    right: 0;
  }
  